.container-profile {
  align-items: center;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  margin-top: 240px;
}

.box-profile {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.image-profile {
  margin: 30px;
  width: 150px;
}

.info-profile {
  font-size: 1.2rem;
  letter-spacing: 1.1px;
}

.edit-profile {
  align-items: center;
  border: 1px solid var(--bg-active);
  border-radius: 10px;
  color: var(--bg-active);
  display: flex;
  font-size: 1.5rem;
  gap: 10px;
  justify-content: center;
  padding: 5px 25px;
  text-decoration: none;
}
