:root {

  /* <----------------- Background and colors -----------------> */

  --bg-login: rgb(60, 0, 104);

  --bg-login-secundary: rgb(34, 0, 59);

  --bg-page: rgb(34, 35, 39);

  --bg-disabled: rgb(119, 112, 125);

  --bg-active: rgb(0, 213, 226);

  --clr-disabled: rgb(160, 160, 160);

  --clr-white: white;

  --clr-button: rgb(39, 20, 147);

}

.container-search {
  color: var(--clr-white);
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 230px;
  overflow: hidden;
  padding: 50px;
  scroll-behavior: smooth;
}

.box-search {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-search {
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  margin: 10px;
  outline: none;
  padding: 8px;
  width: 450px;
}

.button-search {
  background-color: var(--bg-active);
  border: none;
  border-radius: 10px;
  color: var(--clr-button);
  cursor: pointer;
  font-weight: 700;
  height: 40px;
  padding: 10px;
  text-transform: uppercase;
  width: 140px;
}

.button-search:disabled {
  background-color: var(--bg-disabled);
  color: var(--clr-disabled);
  cursor: not-allowed;
}

.message-not-found {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  text-align: center;
}

.message-found {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  margin: 50px;
  text-align: center;
}

.container-albums {
  align-items: center;
  display: flex;
  justify-content: center;
}

.result-search {
  width: 100vw;
}

.box-albums {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.album {
  align-items: center;
  background-color: rgba(182, 159, 198, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  width: 200px;
}

.album:hover {
  background-color: rgba(182, 159, 198, 0.3);
  transform: scale(1.08);
  transition: 0.5s;
}

.img-album {
  border-radius: 8px;
  padding-top: 10px;
  width: 180px;
}

.artist-album {
  color: var(--clr-white);
  font-size: 1.1rem;
  text-align: center;
}

.collection-album {
  color: var(--clr-white);
  font-size: 1.1rem;
  margin-bottom: -5px;
  padding: 5px;
  text-align: center;
}
